<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="../../vue.js"></script>
<body>
    <div id="app">
        <label for="html">HTML</label>
        <input type="radio" v-model="picked" value="html" id="html">
        <br>
        <label for="JavaScript">JavaScript</label>
        <input type="radio" v-model="picked" value="JavaScript" id="JavaScript">
        <br>
        <label for="CSS">CSS</label>
        <input type="radio" v-model="picked" value="CSS" id="CSS">
        <br>
        <p>要选择的项：{{picked}}</p>
        <!--p的内容： 要选择的项：JavaScript -->
    </div>
    <script>
        let vm = new Vue({
            el:'#app',
            data:{
                picked:'JavaScript',
            }
        })
    </script>
</body>
</html>